bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/paket-files
/.fake
/.paket
/Aardvark.log
/dawn
x64/
/src/DawnNative/*.user
/src/DawnNative/Release/