source https://api.nuget.org/v3/index.json
framework: netstandard2.0, netcoreapp3.1

nuget FSharp.Core                           >= 5.0.0-beta.20417.1 lowest_matching: true
nuget Newtonsoft.JSON                       >= 12.0.3
nuget GLSLangSharp                          ~> 0.4.6
nuget Aardvark.Base                         ~> 5.0.23
nuget Aardvark.Base.FSharp                  ~> 5.0.23
nuget Aardvark.Base.Runtime                 ~> 5.0.23
nuget Silk.NET.GLFW                         ~> 1.5.0
nuget FShade                                ~> 5.1.2
nuget FSharp.Data.Adaptive                  ~> 1.0.0


nuget FsUnit                       
nuget FsCheck                      
nuget FsCheck.NUnit                
nuget Microsoft.NET.Test.Sdk
nuget Expecto                      
nuget Expecto.FsCheck              
nuget Expecto.VisualStudio.TestAdapter version_in_path: true
nuget YoloDev.Expecto.TestSdk



group Build
source https://api.nuget.org/v3/index.json
framework: netstandard2.0
github aardvark-platform/aardvark.fake:v51
nuget Fake.DotNet.Cli
nuget Fake.DotNet.MSBuild
